<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cricketer</title>
</head>
<body>

  <div class="container fluid">
      <br>
      <br>
    <div class="row">
        <div class="col-sm-6">
          <h2>Cricketer Name</h2>
          <form class="form-group">
            <div class="form-check">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input"    [checked]="isChacked" (click)="addAll($event)"> Select All
              </label>
            </div>

      <div class="form-check">
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input"    value="Virat Kohli"  [checked]="isChacked"  (click)="onClick($event)"   > Virat Kohli
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input" value="Ms Dhoni" [checked]="isChacked" (click)="onClick($event)"> MS Dhoni
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input"  value="Rohit Sharma"  [checked]="isChacked" (click)="onClick($event)" > Rohit Sharma
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input"  value="KR Rahul" [checked]="isChacked" (click)="onClick($event)"> KR Rahul
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input" value="Hardik Pandya"  [checked]="isChacked" (click)="onClick($event)"> Hardik Pandya
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input"  value="Rishabh Pant" [checked]="isChacked" (click)="onClick($event)"> Rishabh Pant
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input"  value="Yuzvendra Chanhal" [checked]="isChacked" (click)="onClick($event)"> Yuzvendra Chanhal
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input" value="Bhuvneshwar Kumar" [checked]="isChacked" (click)="onClick($event)">  Bhuvneshwar Kumar
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input"  value="Mohammed Shemi"  [checked]="isChacked" (click)="onClick($event)"> Mohammed Shemi
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input" value="Ravindra jadeja" [checked]="isChacked" (click)="onClick($event)"> Ravindra jadeja
        </label>
      </div>

    </form>
      </div>
  <div class="col-sm-6">
    <h2>Select Your Favorite Crickter</h2>
      <p *ngFor="let m of massage">{{m}}</p>
      <p></p>
    </div>
    </div>

  </div>

</body>
</html>
