<div class="container">       
    <table class="table table-striped table-dark table-hover">
      <thead>
        <!-- empId?:number;
        empname?:string;
        esal?:number;
        emob?:number;
        email:any;
        addr?:string; -->
        <tr>
          <th>EId</th>
          <th>ENAME</th>
          <th>SALARY</th>
          <th>MOBILE NUMBER</th>
          <TH>EMAIL</TH>
          <TH>ADDRESS</TH>
          <th>EDIT</th>
          <th>DELETE</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>101</td>
          <td>Jaleshwari</td>
          <td>56430</td>
          <td>7828466038</td>
          <td>k@gmail.com</td>
          <td>Raipur</td>
          <td><i class="fas fa-edit " style="color: #339af0;" ></i></td>
          <td><i class="fas fa-trash" style="color: #ff6b6b;"></i></td>
        </tr>
    
      </tbody>
    </table>
  </div>
  
