<div>
  <!-- Hello, Padma -->
  <h1>Hello, {{customer}}</h1>
  <ul>
    <!-- Ebony and Chiho in a list-->
    <li *ngFor="let customer of customers">{{ customer.value }}</li>
  </ul>

  <ul>
    <!-- one to ten number print -->
    <li *ngIf=  number>18>{{ number}}</li>
  </ul>
  <p>The Jaleshwari masram's birthday is {{ birthday | date:"MM/dd/yy" }} </p>

  <label>Type something:
    <input #customerInput>{{customerInput.value}}
  </label>

  <button>Show</button>

  <h1>{{name}}</h1>

  <app-test></app-test>
</div>
