




  <div class="container">
    <form #update="ngForm">


         <div class="form-group">
          <label>EId</label>
          <input type="text" class="form-control"  name="eid" [(ngModel)]="empObj.empId" placeholder="employee id" >
          </div>

          <div class="form-group">
            <label>NAME</label>
             <sup *ngIf="ename.invalid && (ename.dirty ||ename.touched)" class="red">*</sup>
            <input type="text" class="form-control"  name="ename" [(ngModel)]="empObj.ename" pattern="[a-z]" placeholder="employee name" required #ename="ngModel">
            <span *ngIf="ename.errors?.['required']" style="color:red ;">Please fill Name</span>
            <span *ngIf="ename.errors?.['pattern']" style="color:red ;">Invalid Name!</span>
            </div>


            <div class="form-group">
              <label >GENDER</label>
             <div class="form-check-inline" style="margin-left:20px ;">
               <input type="radio" class="form-check-input" [(ngModel)]="empObj.gender" value="MALE" name="gender" required>MALE
             </div>

           <div class="form-check-inline" style="margin-left:10px ;">
             <input type="radio" class="form-check-input" [(ngModel)]="empObj.gender"  value="FEMALE" name="gender" required>FEMALE
           </div>
         </div>

       <!-- Salary -->
          <div class="form-group">
              <label>SALARY</label>
              <input type="text" class="form-control"  name="esal" [(ngModel)]="empObj.esal" placeholder="employee salary"  pattern="\d+" #esal="ngModel">
              <div *ngIf="esal.errors?.['pattern']" class="red">Invalid Enter</div>
           </div>

          <div class="form-group">
                <label>MOBILE NUMBER</label>
                    <sup *ngIf="emob.invalid && (emob.dirty ||emob.touched)" class="red">*</sup>
                    <input type="text" class="form-control"  name="emob" [(ngModel)]="empObj.emob" placeholder="employee mobile number" #emob="ngModel" required pattern="[7-9]{2}[0-9]{8}" >
                <div *ngIf="emob.errors?.['pattern']" class="red">You have entered an invalid number</div>
          </div>
          <div class="form-group">
                  <label>EMAIL</label>
                  <input type="text" class="form-control"  name="email" [(ngModel)]="empObj.email" placeholder="employee email" #email="ngModel" pattern="^[A-Za-z0-9+_.-]+@(.+)$" required >
                  <div *ngIf="email.errors?.['pattern']" class="red">You have entered an invalid email address</div>

          </div>

          <div class="form-group">
                    <label>ADDRESS</label>
                    <input type="text" class="form-control"  name="eaddr" [(ngModel)]="empObj.eaddr" placeholder="employee Address" required >
           </div >
                <button type="submit" class="btn btn-primary btn-xl btn-block" (click)="updateEmp()" [disabled]="update.invalid">Update</button>
    </form>
  </div>
