.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
ul{
  list-style-type:none;
}

.float1{
  margin-left: 150px;
}
.divcenter{
  margin-left: 350px;
}
.bgcolor{
  background-image: linear-gradient(to bottom left, blue,red);
}

.iconAdd{
  background-color: red;
  color: aliceblue;
  border-radius: 20px;
}
.marginLeft{
  margin-left: 5px;
  text-align: end;
}
.color1{
  color: blue;
}
.color2{
  color:red;
}
