
<mat-card class="example-card borderDouble" >
  <mat-card-header >
      <mat-card-title class="headTitle">New Employee Registration</mat-card-title>
  </mat-card-header>
 <mat-divider></mat-divider>
  <!-- Name -->
  <mat-card-content class="contentP">
    <mat-card-subtitle>Personal information</mat-card-subtitle>
    <form  [formGroup]="empForm" (ngSubmit)="addEmp()">
    <mat-form-field appearance="legacy" class="pading">
         <mat-label>First Name</mat-label>
           <input matInput placeholder="Name">
           <mat-hint>Only Allowed Alphabet</mat-hint>
      </mat-form-field>
      <mat-form-field appearance="legacy" class="pading">
        <mat-label>Last Name</mat-label>
       <input matInput placeholder="Last Name">
     </mat-form-field>

     <!-- BirthPlace and Date of Birth  -->
     <p>
         <mat-form-field appearance="legacy" class="pading">
           <mat-label>Birth Place</mat-label>
           <input matInput placeholder="BirthPlace">
        </mat-form-field>

        <mat-form-field appearance="outline" class="pading">
           <mat-label> Date of Birth</mat-label>
           <input type="date" matInput placeholder="BirthPlace">
          </mat-form-field>
     </p>
          <!-- Marital Status -->
     <p>
         <mat-form-field appearance="legacy" class="pading">
            <mat-label>Marital Status</mat-label>
              <mat-select>
              <mat-option value="Single">Single</mat-option>
              <mat-option value="Married">Married</mat-option>
              <mat-option value="Widow">"Widow</mat-option>
              <mat-option value="Have been married before">Have been married before</mat-option>
             </mat-select>
         </mat-form-field>
     </p>
   <!-- Nationality -->
     <p>
          <mat-form-field class="pading">
            <mat-label>Nationality</mat-label>
              <mat-select value="India">
                <mat-option *ngFor="let country of countries" [value]="country">{{country}}</mat-option>
             </mat-select>
          </mat-form-field>
     </p>

     <!-- Identification  -->

     <p>
         <mat-form-field appearance="legacy" class="pading">
            <mat-label>Identification</mat-label>
              <mat-select>
                <mat-option value="Driver's License">Driver's License</mat-option>
                <mat-option value="Passport">Passport</mat-option>
                <mat-option value="individual identification number">Aadhaar Card</mat-option>
              </mat-select>
         </mat-form-field>

         <mat-form-field appearance="legacy" class="pading">
            <mat-label>Identification Number</mat-label>
            <input matInput placeholder="Identification Number">
            <mat-icon matSuffix class="color1">mode_edit</mat-icon>
          </mat-form-field>
    </p>

    <mat-divider></mat-divider><br>
    <mat-card-subtitle>Your Address</mat-card-subtitle>

       <p>
          <mat-form-field appearance="legacy" class="pading">
            <mat-label>Street Name</mat-label>
            <input matInput placeholder="Street Name">
          </mat-form-field>
          <mat-form-field appearance="legacy" class="pading">
            <mat-label>House Number</mat-label>
            <input matInput placeholder="House Number">
          </mat-form-field>
      </p>

       <p>
          <mat-form-field appearance="legacy" class="pading">
            <mat-label>City</mat-label>
            <input matInput placeholder="City">
          </mat-form-field>
          <mat-form-field appearance="legacy" class="pading">
            <mat-label>Zip code</mat-label>
            <input matInput placeholder="zip code" maxlength="6" #zipcode>
             <mat-hint align="end">{{zipcode.value.length}}/6</mat-hint>
          </mat-form-field>
       </p>
       <p>
           <mat-form-field appearance="legacy" class="pading">
               <mat-label>Mobile Number</mat-label>
               <input matInput placeholder="Mobile Number" [formControl]="mobno" >
                <mat-error *ngIf="mobno.hasError('required')">Mobile number Required</mat-error>
                <mat-error *ngIf="mobno.hasError('pattern') && !mobno.hasError('required')">You have entered an invalid number</mat-error>
           </mat-form-field>

           <mat-form-field appearance="legacy" class="pading">
            <mat-label>Email</mat-label>
            <input matInput placeholder="test@yopemail.com" [formControl]="email" required>
            <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
          </mat-form-field>
      </p>
    </form>

      <mat-card-actions>
        <!-- <button mat-stroked-button color="primary" class="btnFloat">NEXT</button> -->
        <button mat-stroked-button color="primary" class="btnFloat">SUBMIT</button>

      </mat-card-actions>

    </mat-card-content>

</mat-card>
