.example-card {
  margin-top: 50px;
  margin-left: 580px;
  max-width: 900px;
  background-color: rgb(193, 219, 243);
}
.borderDouble{
  border-style: solid;
}
.headTitle{
  color:rgb(43, 137, 226);
  margin-left: 180px;
  font-size: 30px;
  text-shadow: 0 0 2px #FF0000, 0 0 2px #0000FF;
  padding: 5px;
}
.contentP{
  padding: 35px;
}
.pading{
  margin-left: 80px;

}
.btnFloat{
  float: right;
  color: #0000FF;
}
.color1{
  color: #0000FF;
}
