
  <div class="container" style="margin-left: 350px; margin-top: 150px;">
    <p>donate works!</p>

    <div class="row">
      <div class="col-sm-3">
        <div class="card img-fluid" style="width:500px">
          <img class="card-img-top" src="../assets/img/tiger1.jpg" alt="Card image" style="width:100%">
          <div class="card-img-overlay">
            <h4 class="card-title">Tiger</h4>
            <p class="card-text">Some example text some example text. Some example text some example text. Some example text some example text. Some example text some example text.</p>
            <a routerLink="tiger1" class="btn btn-primary" (click)="alertMassage()">See More..</a>
          </div>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="card img-fluid" style="width:500px">
          <img class="card-img-top" src="../assets/img/tiger2.jpg" alt="Card image" style="width:100%">
          <div class="card-img-overlay">
            <h4 class="card-title">Tiger</h4>
            <p class="card-text">Some example text some example text. Some example text some example text. Some example text some example text. Some example text some example text.</p>
            <a routerLink="tiger2" class="btn btn-primary" (click)="alertMassage()">See More..</a>
          </div>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="card img-fluid" style="width:500px">
          <img class="card-img-top" src="../assets/img/babytiger.jpg" alt="Card image" style="width:100%">
          <div class="card-img-overlay">
            <h4 class="card-title">Tiger</h4>
            <p class="card-text">Some example text some example text. Some example text some example text. Some example text some example text. Some example text some example text.</p>
            <a routerLink="tiger3" class="btn btn-primary" >See More..</a>
          </div>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="card img-fluid" style="width:500px">
          <img class="card-img-top" src="../assets/img/tiger3.jpeg" alt="Card image" style="width:100%">
          <div class="card-img-overlay">
            <h4 class="card-title">Tiger</h4>
            <p class="card-text">Some example text some example text. Some example text some example text. Some example text some example text. Some example text some example text.</p>
            <a routerLink="tiger4" class="btn btn-primary" >See More..</a>
          </div>
        </div>
      </div>
    </div>
  </div>





