<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2 >Add User</h2>

  <form [formGroup]="loginForm" (ngSubmit)="loginUser()">
    <div class="form-group">
      <label >FirstName : </label>
      <sup *ngIf="name && name.invalid && name.touched" style="color: red;">*</sup>
      <input type="text" class="form-control" name="name" formControlnameName="" placeholder="First Name">
      <span *ngIf="name?.errors?.['pattern']" class="invalid">Please Enter Alphabet</span>
 </div>

    <div class="form-group">
      <label>MiddleName</label>
      <input type="text" class="form-control"  name="mname" formControlName="mname" placeholder="Middle Name" >
    </div>

    <div class="form-group">
      <label>LastName:</label>
      <sup *ngIf="lname && lname.invalid && lname.touched" class="invalid">*</sup>
      <input type="text" class="form-control" name="lname" formControlName="lname" placeholder="Last Name">

    </div>



    <div class="form-group">
      <label> Email : </label>
      <sup *ngIf="email && email.invalid && email.touched" style="color: red;">*</sup>
      <input type="email" class="form-control" name="email"   formControlName="email" placeholder="Email Id">
       <span *ngIf="email?.errors?.['pattern']" class="invalid">You have entered an invalid email address</span>
  </div>

  <div class="form-group">
    <label>Phone Number :</label>
    <sup *ngIf="mobno && mobno.invalid && mobno.touched" class="invalid">*</sup>
    <input type="tel" class="form-control" name='mobno' formControlName="mobno"  placeholder="(xxx-xxx-xxxx)">
    <span *ngIf="mobno?.errors?.['pattern']" class="invalid">You have entered an invalid phone Number</span>

  </div>

  <div class="form-group">
    <label>Zipcode</label>
    <sup *ngIf="zipcode && zipcode.invalid && zipcode.touched" class="invalid">*</sup>
     <input type="text" class="form-control" name="zipcode" formControlName="zipcode"  placeholder="Zipcode">
    <span *ngIf="zipcode?.errors?.['pattern']" class="invalid">You have entered an invalid  Numbe</span>
 </div>

  <div class="form-group">
    <label for="pwd">Password:</label>
    <sup *ngIf="password && password.invalid && password.touched" class="invalid">*</sup>
    <input type="password" class="form-control" id="pwd" name="password" formControlName="password">
    <span *ngIf="password?.errors?.['pattern']" class="invalid">You have selected one capital,one small,one spacial word,max 8</span>

  </div>

  <button type="submit"  class="btn btn-primary">Submit</button>
  <!-- [disabled]="loginForm.invalid" -->
  </form>
</div>

</body>
</html>

