


    <header ><h1>Welcome to {{title}}</h1></header>
    <nav >
        <a href="#"> Home</a>
        <a href="#"> New</a>
        <a href="#"> </a>
        <a href="#"> About</a>
        <a href="#"> FAQ</a>
        <a href="#"> Contect</a>
    </nav>
    <section>



      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error perspiciatis asperiores ea eveniet totam amet quam accusamus?
         Quas illum delectus tenetur ea? Itaque quod voluptatibus ab sapiente inventore! Dolore, ab.</p>
         <app-product-list></app-product-list>
        </section>
    <footer>j@gmail.com</footer>









