.color1{
  background-color: blueviolet;
}
.color2{
  background-color: rgb(136, 185, 0);
}
.color3{
  background-color: rgb(197, 194, 0);
}
.color4{
  background-color: rgb(226, 208, 43);
}
.example-container {
  width: 500px;
  height: 300px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
}
mat-slider{
  width: 200px;
}
