

<mat-grid-list  cols="4" rowHeight="50px">

  <mat-grid-tile colspan="4"  class="color1" > <mat-grid-tile-header>Hello</mat-grid-tile-header></mat-grid-tile>
  <mat-grid-tile colspan="3" rowspan="1" class="color1">

  </mat-grid-tile>
  <mat-grid-tile colspan="1" rowspan="2" class="color2">2</mat-grid-tile>
  <mat-grid-tile colspan="1" rowspan="1" class="color3">3</mat-grid-tile>
  <mat-grid-tile colspan="2" rowspan="1" class="color4">4</mat-grid-tile>
  <mat-grid-tile colspan="4" rowspan="1" class="color1"> <mat-grid-tile-footer>test@gmail.com</mat-grid-tile-footer></mat-grid-tile>

</mat-grid-list>
