<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">




<div class="container-fluid ">
   <div  class ="div1">
  <h2 style="font-size: 50px; color:aquamarine; "><i class="fab fa-product-hunt"></i></h2>
    <form  #loginform="ngForm" (onsubmit)="onSubmit(loginform.value)">

        <div class="form-group">
          <label style="color: rgb(22, 143, 224);"> Name</label>
          <input type="text" class="form-control-inline" placeholder="Name" name="name" ngModel #name="ngModel">
       </div>

          <div class="form-group">
              <label style="color: rgb(22, 143, 224);" > Pword </label>
              <input type="password"  class="form-control-inline" name="pwd" placeholder="Password" ngModel #pwd="ngModel">
           </div>
           <button class="btn btn-primary"   type="submit">Login</button>
         <!-- [disabled]="loginform.invalid" -->
        </form>
    </div>
    </div>

    <router-outlet></router-outlet>
