<!-- *ngIf="auth.isAuthenticated" -->


<div class="container-fluid">
  <div class="jumbotron " >
    <h2>Employee <i class="fas fa-users" ></i></h2>
  </div>


      <div class="wrapper"  >
        <nav id="sidebar">
           <div class="sidebar-header"><h3>Employee Details</h3> </div>
              <ul class="list-unstyled components">
                <!-- <button  (click)="showComponent()"><home-page *ngIf="show"></home-page></button> -->
               <li ><a class="nav-link" routerLink="/emplist" >Employee List</a></li>
               <li><a class="nav-link"  routerLink="/empAdd">Add Employee</a></li>
               <li><a class="nav-link"  routerLink="/stu">Students</a></li>
                <li><a class="nav-link"  routerLink="/angmat">AngularMaterial</a></li>
                <li><a class="nav-link"  routerLink="/rem">Assingment</a></li>
           </ul>
         </nav>
        <div id="content">
           <nav class="navbar navbar-expand-lg navbar-light bg-light">
               <div class="container-fluid">
                   <button type="button" id="sidebarCollapse" class="btn btn-info">
                       <i class="fas fa-align-left"></i>
                       <span></span>
                   </button>
             </div>
           </nav>
           </div>



      </div>


      <div class="container">
        <router-outlet></router-outlet>
     </div>
  <!-- <router-outlet></router-outlet> -->
 </div>
