<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
<div class="container-fluid">

    <div class="jumbotron">
       <h1>Product <pre class="fas fa-sign-out-alt pre1"> </pre> <pre class="fas fa-share-alt pre2">  </pre></h1>

    </div>


    <ul class="nav-tab">
      <li class="nav-item"><a class="nav-link "   routerLinkActive="active" routerLink="item1">Item</a> </li>
      <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="item2">Item</a> </li>

    </ul>

    <router-outlet></router-outlet>
</div>



