


<div class="container">
  <br>
  <br>
  <br>
  <br>
  <br>
  <h2 style="text-align: center;"><i class="fas fa-dove " style="color:aqua; font-size: 40px;"></i></h2>

  <form [formGroup]="loginForm" >
    <div class="form-group">
      <label for="usr">Name:</label>
      <input type="text" class="form-control" id="usr" name="username" formControlName="name" (onkeyup)="updateName()">
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" id="pwd" name="password" formControlName="password">
    </div>

    <button type="button"  class="btn btn-primary" (click)="loginUser()">Login</button>
  </form>
</div>




