<p>tiger3 works!</p>

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <div class="card img-fluid" style="width:500px">
            <img class="card-img-top" src="../assets/img/babytiger.jpg" alt="Card image" style="width:500%">
            <div class="card-img-overlay">
              <h4 class="card-title">Tiger</h4>
              <p class="card-text">Some example text some example text. Some example text some example text. Some example text some example text. Some example text some example text.</p>
              <!-- <a routerLink="tiger3" class="btn btn-primary">See More..</a> -->
            </div>
          </div>
        </div>
      </div>
    </div>

</body>
</html>
