<app-child-app [item]="currentItem"></app-child-app>
<!-- <app-child-app (newItemEvent)="addItem($event)"></app-child-app> -->


<!-- <ul class="checkbox-item">
   <li *ngFor="let item of checkboxDataList">
      <input type="checkbox" [(ngModel)]="this.isChecked(change) ="changeSelection()">{{item.label}}
   </li>
</ul> -->


<!-- <div style="margin-top: 30px">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div *ngFor="let cn of cricketerName">
      <input type="checkbox" (change)="onChange(cn.name, $event.target.checked)" />
      {{ cn.name }}
    </div>
    <button>submit</button>
  </form>
  </div> -->
