<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->







<!-- Toolbar -->

<header><h1>Welcome to {{title}}</h1></header>
<nav >
    <a href="#"> Home</a>
    <a href="#"> New</a>
    <a href="#"> </a>
    <a href="#"> About</a>
    <a href="#"> FAQ</a>
    <a href="#"> Contect</a>
</nav>
<section>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error perspiciatis asperiores ea eveniet totam amet quam accusamus?
     Quas illum delectus tenetur ea? Itaque quod voluptatibus ab sapiente inventore! Dolore, ab.</p>


</section>
<h2>{{chiledDataReceived}}</h2>
<test (childStringData)="ReceiveData($event)"></test>
<br>


<div>
    <p></p>
</div>
<div>
  <h3>Select your favorite Cricketer</h3>
  <input type="checkbox">Rohit Raina<br>
  <input type="checkbox">MS Dhoni <br>
  <input type="checkbox">Virat kohli<br>
  <input type="checkbox">Hardik Pandya<br>
</div>


<div class="container-fluid d1">
  <h2>UserData</h2>
  <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm.value)" >
      <table>
     <tr class="form-group">
        <td><label>Name</label></td>
        <td><input type="text" class="form-control" name="name" [(ngModel)]=myName  required minlength="4" #name="ngModel"></td><td>{{myName}}</td>
        <div *ngIf="name.invalid && (name.dirty ||name.touched)" class="alert"></div>
        <div *ngIf="name.errors?.['required']">Name is  required</div>
        <div *ngIf="name.errors?.['minlength']">Name must be at least 4 Charecter Long</div>
        <!-- <div *ngIf="name.errors?.['forbiddenName']">Name cannot be bob </div> -->
     </tr>

      <tr class="form-group">
       <td><label>Email</label></td>
       <td><input type="email" class="form-control" name="email" ngModel  #email="ngModel" pattern="^[A-Za-z0-9+_.-]+@(.+)$"></td>
       <div *ngIf="email.errors?.['pattern']">You have entered an invalid email address</div>
      </tr>
      <!-- <div ngModelGroup="Address"> -->
        <tr class="form-group">
          <td><label>Street</label></td>
          <td> <input type="text" class="form-control" name="street" ngModel></td>
        </tr>
        <tr class="form-group">
         <td> <label> City</label></td>
          <td> <input type="text" class="form-control" name="city" ngModel></td>
        </tr>
        <tr class="form-group">
           <td><label>PostalC</label></td>
            <td><input type="text" class="form-control" name="postalcode" ngModel required></td>
        </tr>
      <!-- </div> -->
          <br>

      <tr> <td></td><td> <button type="submit" class="btn btn-primary">Submit</button></td></tr>
    </table>
    <br>
    </form>



</div>
<footer >j@gmail.com</footer>






<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<router-outlet></router-outlet>


