<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->







<!-- Toolbar -->
<div>
<header><h1>Welcome to {{title}}</h1></header>
<nav >
    <a href="#"> Home</a>
    <a href="#"> New</a>
    <a href="#"> </a>
    <a href="#"> About</a>
    <a href="#"> FAQ</a>
    <a href="#"> Contect</a>
</nav>
<section>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error perspiciatis asperiores ea eveniet totam amet quam accusamus?
     Quas illum delectus tenetur ea? Itaque quod voluptatibus ab sapiente inventore! Dolore, ab.</p>


</section>
<h2>{{chiledDataReceived}}</h2>
<test (childStringData)="ReceiveData($event)"></test>
<br>


<div>
    <p></p>
</div>
<div>
  <h3>Select your favorite Cricketer</h3>
  <input type="checkbox">Rohit Raina<br>
  <input type="checkbox">MS Dhoni <br>
  <input type="checkbox">Virat kohli<br>
  <input type="checkbox">Hardik Pandya<br>
</div>


<div class="container">
  <h2>UserData</h2>
  <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm.value)" >
     <div class="form-group">
       <label>Name</label>
        <input type="text" class="form-control" name="name" [(ngModel)]=myName>{{myName}}
     </div>

     <div class="form-group">
       <label>Email   </label>
       <input type="text" class="form-control" name="email" ngModel>
    </div>
      <div ngModelGroup="Address">
        <div class="form-group">
          <label>Street   </label>
           <input type="text" class="form-control" name="street" ngModel>
        </div>
        <div class="form-group">
          <label> City     </label>
           <input type="text" class="form-control" name="city" ngModel>
        </div>
        <div class="form-group">
          <label>PostalC</label>
           <input type="text" class="form-control" name="postalcode" ngModel>
        </div>
      </div>
      <br>

  <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
<footer >j@gmail.com</footer>

</div>




<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<router-outlet></router-outlet>


