<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->







<!-- Toolbar -->
<div>
<header style="text-align: center; background-color: lightblue; margin: 0px;"><h1>Welcome to {{title}}</h1></header>
<nav style=" width: 100%; background-color: grey;font-size:30px; text-align: right;  margin: 0px; text-decoration: none;">
    <a href="#"> Home</a>
    <a href="#"> New</a>
    <a href="#"> </a>
    <a href="#"> About</a>
    <a href="#"> FAQ</a>
    <a href="#"> Contect</a>
</nav>
<section style="  height: 800px;  background-image: linear-gradient(blue,rgb(23, 180, 233),rgb(98, 207, 240)); color: chocolate;">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error perspiciatis asperiores ea eveniet totam amet quam accusamus?
     Quas illum delectus tenetur ea? Itaque quod voluptatibus ab sapiente inventore! Dolore, ab.</p>
</section>
<footer style="height: 40px; background: slategray; text-decoration: chocolate; text-align: center; font-size: 30px;">j@gmail.com</footer>

</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<router-outlet></router-outlet>
=======


