header{
  text-align: center;
   background-color: lightblue; }

nav{
 width: 100%;
  background-color:grey;
  font-size:30px;
   text-align: right;
    text-decoration: none;
}

section{
   height: 800px;
   background-image: linear-gradient(blue,rgb(23, 180, 233),rgb(98, 207, 240));
    color: chocolate;
}
table
{
    background-color:darkgrey;
    margin-left: 300px;
    text-align: center;
    width: 40%;
}
footer{
  height: 40px;
   background: slategray;
    text-decoration: chocolate;
     text-align: center;
  font-size: 30px;
}
