
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <title>website</title>
</head>
<body>
    <div class="container-fluid">
        <div class="jumbotron  mb-0">
            <i class="fas fa-heartbeat " style="color: red; font-size: 30px;"> SAVE TIGER</i>
             <!-- navigation -->
            <ul class="nav nav-tabs" style="float: right;">
                <li class="nav-item"><a class="nav-link "   routerLinkActive="active" routerLink="login">Log In</a> </li>
                <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="donate">Donate </a> </li>
                <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="takeaction">Take Action</a></li>
                <li class="nav-item"> <a class="nav-link "  routerLinkActive="active" routerLink="manu">Manu</a></li>
              </ul>
        </div>


                  <router-outlet></router-outlet>
                  <!-- <router-outlet ></router-outlet> -->

                  <!-- <router-outlet name="login1"></router-outlet> -->
                  <!-- <router-outlet name="takeaction1"></router-outlet> -->
                  <div class="footer">copywrite j@masram.com</div>

   </div>


</body>
</html>
