
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<ng-container >
  <header><h1>32CG KITCHEN</h1> </header>
  <nav >
    <a href="../../src/app/about/about.component.ts">ABOUT </a>
    <a href="#"> MENU</a>
    <a href="#"> CONTACT</a>
  </nav>
  <section>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem temporibus voluptas molestias
     dolorum consequuntur cum praesentium natus fugit saepe a asperiores eveniet sed, rerum maxime
      odit officia similique, cupiditate neque?
  </section>
  <footer>
    Copyright 2020 jmasram.com. All Rights Reserved.</footer>
</ng-container>


<router-outlet></router-outlet>
